@import '../../main.scss';

.content {
  width: defaultDesignToBasePx(375);
  height: defaultDesignToBasePx(360);
  margin-bottom: defaultDesignToBasePx(16);
}

// // 604px至1024px的样式
@media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
  .content {
    width: mdDesignToBasePx(604);
    height: mdDesignToBasePx(374);
    margin-bottom: mdDesignToBasePx(16);
  }
}

// // // 大于1024px的样式
@media (min-width: $breakpoint-large) {
  .content {
    width: lgDesignToBasePx(1024);
    height: lgDesignToBasePx(482);
    margin-bottom: lgDesignToBasePx(16);
  }
}
