@import '../../main.scss';

.content {
  width: 375px;
  height: 360px;
  margin-bottom: 16px;
}

// 604px至1024px的样式
@media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
  .content {
    width: mdDesignToBasePx(604px);
    height: mdDesignToBasePx(374px);
    margin-bottom: mdDesignToBasePx(16px);
  }
}

// 大于1024px的样式
@media (min-width: $breakpoint-large) {
  .content {
    width: lgDesignToBasePx(1024px);
    height: lgDesignToBasePx(400px);
    margin-bottom: lgDesignToBasePx(16px);
  }
}
